<header class="site-header">
  <h1 class="main-title">Welcome to <img src="/assets/Pizza cap Logo.png" alt="Pizza Cap Logo" class="header-logo" /></h1>
</header>
<nav>
  <a href="/">Home</a>
  
  <% if (user) { %>
    <a href="/recipes">Browse Pizza Catalogue</a>
    <a href="/ingredients">Manage Ingredients</a>
    <a href="/auth/sign-out">Sign Out</a>
  <% } else { %>
    <a href="/auth/sign-in">Sign In</a>
    <a href="/auth/sign-up">Sign Up</a>
  <% } %>
</nav>
