<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pizza Cap - Index</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <%- include('./partials/_navbar.ejs') %>
  <div class="container">
    
    <div class="content-section">
      <p class="intro-text">Please login if you don't have an account <a href="/auth/sign-up" class="auth-link">Sign up here</a></p>
      
      <div class="divider"></div>
      
      <p class="intro-text">If not, it's okay! Please check our catalogue of pizzas. If they pick your interest, <a href="/recipes" class="recipes-link">browse our pizzas</a></p>
    </div>
  </div>
</body>
</html>
